<!DOCTYPE HTML>
<html>
<head>
  <title>Puppy Adoption Site </title>
</head>
<body>
  <h1> Welcome to the Puppy Adoption Site! </h1>

  <h2> To add a new puppy, <a href="create_puppy"> click here. </a> </h2>
</body>
</html>