<!DOCTYPE HTML>
<html>
<head>
  <title>Puppy Adoption Site </title>
</head>
<body>
  <h1> Welcome to the Puppy Adoption Site! </h1>

  <h2> You can add a new puppy using the form below.</h2>

  <form method="POST" action="/display_puppy">
    <p>Name: <input name="name"> </p>
    <p>Breed: <input name="breed"> </p>
    <p>Age: <input name="age"> </p>
    <input name="submit">
  </form>

</body>
</html>
